body {
    font-family: 'Krona One', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.robo {
    font-size: 50px;
    color: orangered
}

section {
    display: flex;
    margin-bottom: 100px;
    margin: right 50px;

}

.hafe-width {
    width: 40%;
    padding-left: 5%;
}

.hafe-width image {
    width: 70%;
    image-resolution: 500%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 800;

}

.top-banner {
    background-image: url(image/banner.png);
    background-repeat: no-repeat;
}

.Dream-big {
    background-image: url(image/bg-1.png);
    background-repeat: no-repeat;
    background-position: right;

}